@charset "UTF-8";
/* CSS Document */
.bg-custom {
	background-color:deeppink;
}

.float-parent-element {width: 50%;}.float-child-element {float: left;width: 50%;}.red {background-color: darkred;margin-left: 50%;height: 100px;}.yellow {margin-left: 50%;height: 100px;background-color: darkgrey;}

body {
	background-color: black
}

body {
	font-family: 'Lato' 
}

body {
	cursor: url("https://cdn-icons-png.flaticon.com/128/4780/4780386.png"); /* Replace 'custom-cursor.png' with your custom cursor image */
  }


/* Custom CSS to change navbar colors */
.navbar {
    background-color: #00000; /* Changes the background color */
}

.navbar .navbar-brand {
    color: #9F0002; /* Changes the color of the brand text */
}

.navbar .nav-link {
    color: #00000; /* Changes the color of the navbar links */
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #9F0002; /* Changes the color of active or hovered links */
}

.navbar .navbar-toggler-icon {
	background-color: #9F0002;
	border-radius: 5%;
}

.text-color { 
	color: white;
}

h1 {
	font-family: 'Bebas Neue';
}

.col-color{
	background-color: #9F0002;
}

.btn-red{
	background-color: #9F0002;
}

.round{
	border-radius: 30px;
	}

.textcol-red{
	color:#9F0002;
}

.textcol-black{
	color: black;
}

.zoom {
  padding: 10px;
  transition: transform .2s;
  width: 800px;
  height:800px;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.25); 
}

.textfont {
	font: "Gill Sans";
}

/*Hero Image*/

.mb-6 {
  margin-bottom: 4.5rem !important;
}
.mb-7 {
  margin-bottom: 6rem !important;
}
.mb-8 {
  margin-bottom: 7.5rem !important;
}
.mb-9 {
  margin-bottom: 9rem !important;
}
.mb-10 {
  margin-bottom: 10.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.py-7 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.py-8 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}
.py-9 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}
.py-10 {
  padding-top: 10.5rem !important;
  padding-bottom: 10.5rem !important;
}
.hcf-bp-center {
  background-position: center !important;
}
.hcf-bs-cover {
  background-size: cover !important;
}
@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-sm-7 {
    margin-bottom: 6rem !important;
  }
  .mb-sm-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-sm-9 {
    margin-bottom: 9rem !important;
  }
  .mb-sm-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-sm-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-sm-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-sm-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-sm-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-md-7 {
    margin-bottom: 6rem !important;
  }
  .mb-md-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-md-9 {
    margin-bottom: 9rem !important;
  }
  .mb-md-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-md-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-md-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-md-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-md-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-lg-7 {
    margin-bottom: 6rem !important;
  }
  .mb-lg-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-lg-9 {
    margin-bottom: 9rem !important;
  }
  .mb-lg-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-lg-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-lg-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-lg-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-lg-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-xl-7 {
    margin-bottom: 6rem !important;
  }
  .mb-xl-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-xl-9 {
    margin-bottom: 9rem !important;
  }
  .mb-xl-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-xl-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-xl-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-xl-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-xl-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-xxl-7 {
    margin-bottom: 6rem !important;
  }
  .mb-xxl-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-xxl-9 {
    margin-bottom: 9rem !important;
  }
  .mb-xxl-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-xxl-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-xxl-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-xxl-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-xxl-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
.hcf-overlay {
  hcf-overlay-opacity: 0.5;
  hcf-overlay-bg-color: var(--bs-black-rgb);
  position: relative;
}
.hcf-overlay::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    var(--hcf-overlay-bg-color),
    var(--hcf-overlay-opacity)
  );
  z-index: 0;
}
.hcf-overlay > * {
  position: relative;
  z-index: 1;
}
.hcf-transform {
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.hcf-transform:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}

/*footer*/

footer{
	text-align: center;
  padding: 3px;
  background-color: #9F0002;
  color: white;
}

/* Split the screen in half */
.split {
  height: 55%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 90;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #121212;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #121212;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 50px;
  border-radius: 10%;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .split {
    width: 100%;
    height: auto;
    position: static;
    padding-top: 0;
  }
  
  .left, .right {
    width: 100%;
    position: static;
    background-color: transparent;
  }
  
  .centered {
    position: static;
    transform: none;
    text-align: center;
    margin: auto;
    padding: 0 20px;
    left: auto;
    top: auto;
  }
}

.spacer {
    height: 500px;
}

.spacer200{
	height: 200px;
}

.spacersmall{
	height:100px;
}

.spacermini{
	height:10px
}

.colcenter {
	text-align:center;
}

.text-container {
  max-width: 30%; /* Adjust the percentage value as needed */
  margin: 0 auto; /* Center the text container within the column */
}

.text-containerwide {
  max-width: 80%; /* Adjust the percentage value as needed */
  margin: 0 auto; /* Center the text container within the column */
}

.image-containercenter{
	text-align: center;
}

.image-containerleft {
	text-align: left
}

.image-containerright {
	text-align: right
}

.colpad{
	padding: 0 1px; /* Adjust the value to reduce space between columns */
}

.fontsizeapphead{
	font-size:40px
}
.fontsizeappsmall{
	font-size: 30px;
}

.fontsizequote{
	font-size: 55px 
}
		
.fontsize25{
	font-size: 25px
}

.page-heading {
  background-color: #242424; /* Yellow background color */
	padding: 50px; /* Adjust padding as needed */
}

.page-heading .row {
  margin-left: 0; /* Remove default margin for the row */
  margin-right: 0; /* Remove default margin for the row */
	
}
	
.page-heading-about {
  background-color: #222222; /* Yellow background color */
	padding: 50px; /* Adjust padding as needed */
}

.page-heading-about .row {
  margin-left: 0; /* Remove default margin for the row */
  margin-right: 0; /* Remove default margin for the row */
	
}

/* Custom card styles */
.card {
  background-color: #f5f5f5; /* Default background color for cards */
  padding: 20px; /* Add padding to the cards */
  margin: 10px; /* Add margin between cards */
}

/* Custom card styles */
.card {
  background-color: #f5f5f5; /* Default background color for cards */
  padding: 20px; /* Add padding to the cards */
  margin: 10px; /* Add margin between cards */
  display: flex; /* Use flexbox for easier alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.card.card-1 {
  background-color: #9f0002; /* Background color for Card 1 */
}

.card.card-2 {
  background-color: #1F1F1F; /* Background color for Card 2 */
}

.card.card-3 {
  background-color: #9f0002; /* Background color for Card 3 */
}


/* Centering columns */
.row.justify-content-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Ensure cards are displayed next to each other */
.column {
  flex: 1; /* Let each column grow to take up equal space */
}

/* Responsive mode: Stack cards underneath each other on smaller screens */
@media (max-width: 768px) {
  .row.justify-content-center {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
  }
}

.card img {
  max-width: 100%; /* Ensure image doesn't exceed the width of its container */
	height: auto; /* Maintain aspect ratio */
}

.text-center{
	text-align: center
}

.divider {
    border: solid;
    border-top: 1px solid #FFFFFF; /* Light grey color */
    margin: 80px; /* Adjust margin as needed */
}

.rounded-image {
            border-radius: 5%; /* 50% will make the border round */
            border: 0px solid ; /* You can adjust border thickness and color */
}

/* CSS for the social media icons */
        .social-icons {
            list-style: none;
            padding: 0;
        }

        .social-icons li {
            display: inline-block;
            margin: 0 10px;
        }

        .social-icons li a {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            border-radius: 50%;
            color: #000000;
            font-size: 25px;
            transition: background-color 0.3s ease;
        }

        .social-icons li a:hover {
            background-color: #666;
            color: #fff;
        }
p {
	color: white;
}
li {
	color: white;
}

.test {
	font-kerning:50px;
}
