/* Custom styles for the hard rock community homepage */
body {
  background-color: #0D0D0D;
  color: #fff;
}

.jumbotron {
	
  background-image: image(images/coverimagerock); /* Replace with your background image URL */
  background-size: cover;
  text-align: center;
  padding: 100px;
  margin-bottom: 0;
  background-color: #731717;
}

.jumbotron h1,
.jumbotron p, 
.jumbotron a {
  color: #FFFFFF;
}

.feature {
  text-align: center;
  padding: 50px 20px;
  background-color: #731717;
  color: #fff;
}

.feature h2 {
  color: #fff;
}

.feature p {
  color: #ccc;
}

.customclass { 
	font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}



